img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url('ilovemb.jpg');


}

/* use . to select class, add the background color */
.topBar{
  font-family: "Lucida Console", Monaco, monospaces;
  background-color: aliceblue;
  overflow: hidden;

}

.topBar a{
  font-family: "Lucida Console", Monaco, monospaces;
  float: left;
  display: block;
  color: black;
  padding: 12px 14px;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border: 2px solid aliceblue;

}
.topBar a:hover {
  color: DodgerBlue;
  transition-duration: 0.4s;
  border: 2px solid DodgerBlue;
}

.topBar a.curSelect{
  background-color: DodgerBlue;
  color: white;
  border: 2px solid DodgerBlue;

}

.topBar .searchBar{
  float: right;


}

.topBar input[type = text]{
  font-family: "Lucida Console", Monaco, monospaces;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;

}



.topBar .searchBar button {
  padding: 6px 10px;
  margin-top: 7px;
  margin-right: 10px;
  background-color: white;
  color: black;
  font-size: 17px;
  border: 2px solid #55555;


}

.topBar .searchBar button:hover {
  padding: 6px 10px;
  margin-top: 7px;
  margin-right: 10px;
  background-color: DodgerBlue;
  color: white;
  font-size: 17px;

  transition-duration: 0.4s;


}


/* use . to select div class, the liks inside of the bar  */
.curSelect{


}
.side-content{
  width:12.5%;
}
.mid-content{
  font-family: "Lucida Console", Monaco, monospaces;
  float: left;
  color: black;
  background-color: Gray;
  padding: 12px 14px;
  width: 100%;
  overflow: hidden;

}
.mid-content h2{
  color: aliceblue;
}

.mid-content h3{
  color:white;
}

.mid-content p{
  color:white;
}

.mid-content p:hover{
  text-decoration: underline;
}

.mid-content .img{
    float: left;
    width: 25%;
}
.mid-content .img:hover{
    filter: brightness(60%);
}

.mid-content .description{
    width:25%;
    float: left;
    text-align: center;

}
