doctype html
head
  title Homepage
  link(rel='stylesheet' href='style.css')

br
.topBar
  img(src='img/ilovem.jpg' alt='ilovem icion' width='150' height='80')
  hr
  a.curSelect(href='/home') Home
  a(href='/about') About
  .searchBar
    input#name(type='text' placeholder='Search Movie')
    button#search(type='submit') Search
    button#sign(type='submit') Sign in
#movieInfo.mid-content
  h2 What to Watch
  h3 Recommended Movies
  .img
    a(href='http://localhost:3000/movie')
      img(src='img/Sabrina.jpg' alt='Sabrina Poster')
  .img
    a(href='http://localhost:3000/movie')
      img(src='img/jumanji.jpg' alt='Movie Picture')
  .img
    a(href='http://localhost:3000/movie')
      img(src='img/Sudden.jpg' alt='GoldenEye Poster' width='195px')
  .img
    a(href='http://localhost:3000/movie')
      img(src='img/waitiing.jpg' alt='Movie Picture')
.mid-content
  .description
    p Sabrina
    p 7.2/10
  .description
    p Jumanji
    p 7.4/10
  .description
    p Sudden Death
    p 6.7/10
  .description
    p Waiting to Exhale
    p 7.7/10
#score
script(src='Homepage.js')
